*{
    margin:0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin: auto;
    padding: 20px;
}
header{

}

.profile-image{s
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float:left;
}
.header-bio{
    float:left;
    padding:30px;
}
h1,h2,h3,h4,h5{
    color: #11999e;
}
.header-contact{
    float:right;
    padding: 30px;
}
.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.div-clear{
    clear: both;
}
hr{
    border:solid #010108 3px;
    width:100%;
    margin: 20px auto;
    border-bottom:none;
}
.content{
    margin-bottom: 30px ;

}

.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: right;
}
.common-hr{
    border: solid black 2px;
    border-bottom:none;
    width: 100%;
    margin: 5% auto;
}
.edu-template-left{
    width: 50%;
    float: left;
}
.edu-template-left a:hover{
    color: tomato;
 }
.edu-template-right{
    width: 50%;
    float: right;
}
.edu-template-right a:hover{
   color: tomato;
}
.skills-left-div{
    width: 50%;
    float: left;
}
.skills-right-div{
    width: 50%;
    float: right;
}
.footer-div{
    background-color: black ;
    text-align: center;
    padding: 10px;
}
.footer-div a{
    color: white;
    text-decoration:none;
    margin: 20px;
}
.footer-div a:hover{
    color: tomato;
    text-decoration:none;
    margin: 20px;
}
.footer-div p{
    color: white;
    text-decoration:none;
    margin: 20px;
    
}
